<config>
  <timeout>10000</timeout>
  <usernamesDictionary>../../../../Data/usernames.txt</usernamesDictionary>
  <passwordsDictionary>../../../../Data/passwords.txt</passwordsDictionary>
  <templates>
    <path>../../../../Data/Templates</path>
  </templates>
  <oracles>
    <path>../../../../Data/Oracles</path>
  </oracles>
</config>